In [5]:
#importar libreria 
import pandas as pd

## Extracción-Transformación-Carga

### Crecimiento del PIB(% anual)

In [6]:
#Leer un archivo CSV utilizando la librería pandas
df = pd.read_csv(r"Dataset/Crecimiento del PIB (% anual).csv")

In [7]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.429817,-0.020479,3.543630,2.116716,5.482371,5.257856,0.635029,-18.589100,17.172509,NaN
1,NaN,AFE,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,0.237304,7.984460,5.163873,4.583677,5.328044,...,4.229408,4.039082,2.895728,2.485952,2.639537,2.610797,2.038299,-3.042653,4.402447,NaN
2,Afganistán,AFG,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.737146,NaN
3,NaN,AFW,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,1.835056,3.772898,7.282985,5.392705,4.056588,...,6.108758,5.930450,2.745137,0.113687,2.305623,2.946175,3.190879,-0.900382,3.965399,NaN
4,Angola,AGO,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.600000,1.100000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831,-5.340275,10.745612,NaN
262,"Yemen, Rep. del",YEM,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.823519,-0.188690,-27.994546,-9.375124,-5.071796,0.752448,NaN,NaN,NaN,NaN
263,Sudáfrica,ZAF,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,3.844734,6.177931,7.373709,7.939609,6.122798,...,2.485468,1.413826,1.321862,0.664552,1.157947,1.522329,0.303453,-6.342471,4.913097,NaN
264,Zambia,ZMB,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,1.361382,-2.490839,3.272393,12.214048,16.647456,...,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,4.598734,NaN
265,Zimbabwe,ZWE,Crecimiento del PIB (% anual),NY.GDP.MKTP.KD.ZG,NaN,6.316157,1.434471,6.244345,-1.106172,4.910571,...,3.196731,1.484543,2.023650,0.900955,4.080264,5.009867,-6.332446,-7.816951,8.468017,NaN

In [8]:
# Filtrar columndas por nombre y por años de interes (2000-2021)
df = df[['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009','2010', '2011', '2012','2013','2014', '2015','2016', '2017', '2018','2019', '2020', '2021']]

In [9]:
# Filtrar filas por los paises de interes
paises_de_interes = ["México" , "Estados Unidos" , "Guatemala" , "Honduras" , "El Salvador" , "Colombia" , "Chile" , "Argentina" , "Brasil" , "Uruguay"]
mascara = df["Country Name"].isin(paises_de_interes)
PIB_anual = df[mascara]

In [10]:
PIB_anual

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,Argentina,-0.788999,-4.408840,-10.894485,8.837041,9.029573,8.851660,8.047152,9.007651,4.057233,...,-1.026420,2.405324,-2.512615,2.731160,-2.080328,2.818503,-2.617396,-2.000861,-9.943235,10.398249
29,Brasil,4.387949,1.389896,3.053462,1.140829,5.759965,3.202132,3.961989,6.069871,5.094195,...,1.921176,3.004823,0.503956,-3.545763,-3.275917,1.322869,1.783667,1.220778,-3.878676,4.619422
39,Chile,4.971621,3.154035,3.202799,4.723245,6.674254,5.837046,6.049991,5.168231,3.789393,...,6.155340,3.308508,1.792649,2.151942,1.753039,1.357695,3.990029,0.770540,-5.978224,11.668225
45,Colombia,2.924861,1.677898,2.503980,3.918272,5.333022,4.828761,6.716869,6.738195,3.283446,...,3.912636,5.133994,4.499030,2.955901,2.087383,1.359361,2.564324,3.186855,-7.048151,10.677013
92,Guatemala,3.608869,2.332575,3.839287,2.560378,3.137917,3.276027,5.351398,6.337719,3.293524,...,2.974709,3.694819,4.443978,4.092171,2.677803,3.079851,3.406873,4.002315,-1.764083,7.980770
97,Honduras,7.291288,2.723193,3.754338,4.547038,6.232303,6.050599,6.567244,6.188327,4.231600,...,4.128688,2.791560,3.058081,3.840080,3.892972,4.842914,3.844995,2.653066,-8.964760,12.534096
154,México,4.942454,-0.404390,-0.039844,1.446383,3.920591,2.307807,4.495078,2.291446,1.143585,...,3.642323,1.354092,2.849773,3.293152,2.630532,2.113129,2.194995,-0.199048,-7.987912,4.720565
211,El Salvador,1.127907,0.879614,1.572918,1.565393,0.889404,2.705463,4.348350,1.858479,2.130553,...,2.822624,2.235624,1.708706,2.400000,2.539062,2.247619,2.412444,2.437472,-8.177217,10.278476
250,Uruguay,-1.929931,-3.844130,-7.732007,0.805284,5.004160,7.460132,4.098577,6.541511,7.176145,...,3.538179,4.637539,3.238791,0.370741,1.689798,1.627754,0.477907,0.350447,-6.121476,4.367009
251,Estados Unidos,4.077159,0.954339,1.695943,2.796209,3.852553,3.483220,2.782811,2.010508,0.122188,...,2.280688,1.841875,2.287776,2.706370,1.667472,2.241921,2.945385,2.294439,-2.767803,5.945485

### Crecimiento del PIB per cápita

In [11]:
df = pd.read_csv(r"Dataset/Crecimiento del PIB per cápita (% anual).csv")

In [12]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738331,0.181216,-18.698325,17.225300,NaN
1,NaN,AFE,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,-2.360093,5.112132,2.346033,1.728251,2.418551,...,1.410049,1.229959,0.090602,-0.235775,-0.015718,-0.075545,-0.635729,-5.571620,1.749360,NaN
2,Afganistán,AFG,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.002522,-0.964803,-1.666416,-0.345802,-0.253594,-1.688577,0.932833,-5.364666,-22.965296,NaN
3,NaN,AFW,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,-0.274916,1.592994,4.982990,3.112517,1.774233,...,3.256967,3.094595,0.021242,-2.530712,-0.390086,0.269736,0.542605,-3.426405,1.357098,NaN
4,Angola,AGO,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.101887,1.028262,-2.646420,-6.011783,-3.633446,-4.676622,-4.014917,-8.635446,-2.050717,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.702936,3.653588,7.371867,6.203623,4.038709,3.056665,5.237433,-5.406638,10.999527,NaN
262,"Yemen, Rep. del",YEM,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.868808,-2.955389,-29.921761,-11.720018,-7.475113,-1.721735,NaN,NaN,NaN,NaN
263,Sudáfrica,ZAF,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,0.977924,3.061899,4.165498,4.685237,2.892205,...,1.099462,-0.172221,-0.757928,-0.309171,0.766942,0.285736,-0.987175,-7.481093,3.870315,NaN
264,Zambia,ZMB,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,-1.787685,-5.541489,0.023361,8.686086,12.972033,...,1.676101,1.352928,-0.312861,0.561271,0.331284,0.897347,-1.564237,-5.595733,1.669097,NaN
265,Zimbabwe,ZWE,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,3.076210,-1.666989,2.985427,-4.143906,1.682986,...,0.988283,-0.715190,-0.132760,-1.177893,1.974846,2.909395,-8.177320,-9.670405,6.271613,NaN

In [13]:
# Filtrar columndas por nombre y por años de interes (2000-2021)
df = df[['Country Name', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009','2010', '2011', '2012','2013','2014', '2015','2016', '2017', '2018','2019', '2020', '2021']]

In [14]:
# Filtrar filas por los paises de interes
paises_de_interes = ["México" , "Estados Unidos" , "Guatemala" , "Honduras" , "El Salvador" , "Colombia" , "Chile" , "Argentina" , "Brasil" , "Uruguay"]
mascara = df["Country Name"].isin(paises_de_interes)
PIB_percapita = df[mascara]

In [15]:
PIB_percapita

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,Argentina,-1.906987,-5.453797,-11.845950,7.719230,7.928157,7.732497,6.934982,7.916211,3.029785,...,-2.145284,1.265685,-3.578581,1.629664,-3.110064,1.757648,-3.601610,-2.969562,-10.812611,9.357176
29,Brasil,2.970911,0.059649,1.760243,-0.051286,4.561782,2.055572,2.847962,4.980830,4.061722,...,1.007654,2.114256,-0.354515,-4.358317,-4.057423,0.523297,0.978938,0.448280,-4.515931,4.067872
39,Chile,3.772357,2.009937,2.086111,3.631566,5.616340,4.807518,5.015991,4.142002,2.755801,...,5.125738,2.316400,0.772928,1.105758,0.550298,-0.213266,2.139078,-1.018583,-7.248861,10.563360
45,Colombia,1.271083,0.088484,0.942693,2.390448,3.839378,3.406896,5.339723,5.422848,2.084242,...,2.837889,4.098266,3.513953,1.990616,1.002273,-0.161954,0.638440,1.314952,-8.404643,9.418279
92,Guatemala,1.117529,-0.096568,1.480389,0.348008,0.968363,1.152934,3.238219,4.257149,1.321660,...,1.160509,1.888643,2.653912,2.346295,0.989366,1.415649,1.765136,2.392073,-3.245966,6.394085
97,Honduras,4.400412,0.002040,1.063681,1.905403,3.620511,3.510217,4.082523,3.786204,1.950394,...,2.116987,0.861033,1.170431,1.978132,2.066839,3.034581,2.084619,0.942197,-10.430190,10.819733
154,México,3.292692,-1.928317,-1.548198,-0.051365,2.404487,0.855709,3.083010,0.953870,-0.130356,...,2.204899,0.027849,1.580821,2.094718,1.474053,1.015816,1.227050,-1.053918,-8.654637,4.136372
211,El Salvador,0.540163,0.380732,1.181244,1.302938,0.742207,2.668687,4.406815,1.695094,1.727154,...,2.423101,1.833121,1.317499,2.046016,2.220085,1.984211,2.254363,2.374266,-8.359820,9.904091
250,Uruguay,-2.324955,-4.097997,-7.885543,0.690751,4.890119,7.334976,3.953911,6.337656,6.936003,...,3.246526,4.326614,2.919730,0.041680,1.363677,1.377293,0.335944,0.310435,-6.140011,4.453092
251,Estados Unidos,2.925441,-0.039920,0.756774,1.916480,2.895848,2.533784,1.796486,1.044930,-0.820368,...,1.533102,1.138692,1.540381,1.953004,0.933375,1.597136,2.404868,1.829668,-3.697922,5.820140

### Migración neta

In [20]:
df = pd.read_csv(r"Dataset/migrantes neto.csv")

In [21]:
# Eliminar columnas fuera del rango de año de interes (2000-2021) y columnas "Indicator Name", "Indicator Code" , "Unnamed: 66"
coldrop = [str(year) for year in range(1960,2000)]
df = df.drop(coldrop, axis=1)
df = df.drop(["Indicator Name", "Indicator Code" , "Unnamed: 66"] , axis= 1)

In [22]:
# Filtrar filas por los paises de interes
paises_de_interes = ["México" , "Estados Unidos" , "Guatemala" , "Honduras" , "El Salvador" , "Colombia" , "Chile" , "Argentina" , "Brasil" , "Uruguay"]
mascara = df["Country Name"].isin(paises_de_interes)
migracion_neta = df[mascara]

In [23]:
migracion_neta

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,Argentina,ARG,-22770.0,-22787.0,-22668.0,-22353.0,-22336.0,-21961.0,-19958.0,-18051.0,...,3127.0,5369.0,5801.0,5522.0,5215.0,4926.0,4690.0,4478.0,2344.0,2344.0
29,Brasil,BRA,-1761.0,3453.0,6018.0,-16908.0,-5390.0,-42926.0,-34007.0,-30331.0,...,43451.0,35308.0,24940.0,4764.0,82589.0,56362.0,67934.0,69186.0,56880.0,20376.0
39,Chile,CHL,5790.0,6720.0,7828.0,9266.0,11515.0,14336.0,17348.0,20188.0,...,30925.0,36566.0,52709.0,55709.0,126525.0,214697.0,237358.0,230162.0,98439.0,113709.0
45,Colombia,COL,-31116.0,-27618.0,-24379.0,-33007.0,-25907.0,-41348.0,-39142.0,-49575.0,...,-55913.0,-64686.0,-67516.0,-41064.0,79978.0,415618.0,494364.0,395803.0,229437.0,211978.0
92,Guatemala,GTM,-66153.0,-59249.0,-55245.0,-54666.0,-47399.0,-49600.0,-42071.0,-40617.0,...,-32572.0,-35666.0,-40409.0,-48162.0,-39266.0,-48049.0,-56884.0,-58095.0,-23142.0,-29118.0
97,Honduras,HND,-10762.0,-9749.0,-8815.0,-7986.0,-7082.0,-6187.0,-5451.0,-5039.0,...,-5896.0,-6094.0,-6302.0,-6512.0,-6685.0,-6782.0,-6768.0,-6550.0,-6199.0,-5779.0
154,México,MEX,-356430.0,-348349.0,-324106.0,-332396.0,-270797.0,-318048.0,-312270.0,-309663.0,...,-48160.0,-101719.0,-100413.0,-82173.0,33094.0,-12438.0,-99430.0,-47764.0,-9949.0,-52649.0
211,El Salvador,SLV,-97219.0,-93347.0,-92034.0,-91736.0,-89193.0,-91042.0,-89964.0,-56863.0,...,-50554.0,-49086.0,-49130.0,-51282.0,-47499.0,-50616.0,-54158.0,-55143.0,-25214.0,-27343.0
250,Uruguay,URY,-11074.0,-14628.0,-16958.0,-17099.0,-15661.0,-16092.0,-13159.0,-10752.0,...,-6318.0,-5655.0,-4914.0,-4156.0,-3506.0,-3090.0,-2963.0,-2902.0,-1486.0,-1486.0
251,Estados Unidos,USA,1479676.0,1335725.0,1168499.0,1074728.0,1200409.0,1129462.0,1113259.0,1108509.0,...,1323368.0,1320840.0,1250914.0,1221849.0,1449371.0,1377630.0,1200796.0,1158444.0,675560.0,561580.0

### Volumen de migrantes (% de la población)

In [25]:
df = pd.read_csv(r"Dataset/migrantes (% de la población).csv")

In [26]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Volúmenes internacionales de migrantes (% de l...,SM.POP.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,34.762102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AFE,Volúmenes internacionales de migrantes (% de l...,SM.POP.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.734292,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,Volúmenes internacionales de migrantes (% de l...,SM.POP.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.175547,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,AFW,Volúmenes internacionales de migrantes (% de l...,SM.POP.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.086486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Volúmenes internacionales de migrantes (% de l...,SM.POP.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.427005,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Eliminar columnas fuera del rango de año de interes (2000-2021) y columnas "Indicator Name", "Indicator Code" , "Unnamed: 66"
coldrop = [str(year) for year in range(1960,2000)]
df = df.drop(coldrop, axis=1)
df = df.drop(["Indicator Name", "Indicator Code" , "Unnamed: 66"] , axis= 1)

In [28]:
# Filtrar filas por los paises de interes
paises_de_interes = ["México" , "Estados Unidos" , "Guatemala" , "Honduras" , "El Salvador" , "Colombia" , "Chile" , "Argentina" , "Brasil" , "Uruguay"]
mascara = df["Country Name"].isin(paises_de_interes)
porc_migrantes = df[mascara]

In [29]:
porc_migrantes

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,Argentina,ARG,4.156300,NaN,NaN,NaN,NaN,4.274025,NaN,NaN,...,NaN,NaN,NaN,4.805292,NaN,NaN,NaN,NaN,NaN,NaN
29,Brasil,BRA,0.389448,NaN,NaN,NaN,NaN,0.338808,NaN,NaN,...,NaN,NaN,NaN,0.343313,NaN,NaN,NaN,NaN,NaN,NaN
39,Chile,CHL,1.168935,NaN,NaN,NaN,NaN,1.698399,NaN,NaN,...,NaN,NaN,NaN,2.615513,NaN,NaN,NaN,NaN,NaN,NaN
45,Colombia,COL,0.271283,NaN,NaN,NaN,NaN,0.248609,NaN,NaN,...,NaN,NaN,NaN,0.276047,NaN,NaN,NaN,NaN,NaN,NaN
92,Guatemala,GTM,0.411673,NaN,NaN,NaN,NaN,0.434270,NaN,NaN,...,NaN,NaN,NaN,0.467188,NaN,NaN,NaN,NaN,NaN,NaN
97,Honduras,HND,0.455881,NaN,NaN,NaN,NaN,0.405149,NaN,NaN,...,NaN,NaN,NaN,0.347614,NaN,NaN,NaN,NaN,NaN,NaN
154,México,MEX,0.523352,NaN,NaN,NaN,NaN,0.649203,NaN,NaN,...,NaN,NaN,NaN,0.939365,NaN,NaN,NaN,NaN,NaN,NaN
211,El Salvador,SLV,0.545662,NaN,NaN,NaN,NaN,0.605646,NaN,NaN,...,NaN,NaN,NaN,0.686272,NaN,NaN,NaN,NaN,NaN,NaN
250,Uruguay,URY,2.675836,NaN,NaN,NaN,NaN,2.475277,NaN,NaN,...,NaN,NaN,NaN,2.092317,NaN,NaN,NaN,NaN,NaN,NaN
251,Estados Unidos,USA,12.306319,NaN,NaN,NaN,NaN,13.256683,NaN,NaN,...,NaN,NaN,NaN,14.490654,NaN,NaN,NaN,NaN,NaN,NaN

Esta base de datos posee una gran cantidad de valores nulos por lo que se evaluará su uso en nuestro proyecto

### Volumen de migrantes, total

In [30]:
df = pd.read_csv(r"Dataset/migrantes total.csv")

In [31]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Volúmenes internacionales de migrantes, total",SM.POP.TOTL,7893.0,NaN,NaN,NaN,NaN,7677.0,...,NaN,NaN,36114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AFE,"Volúmenes internacionales de migrantes, total",SM.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10406165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,"Volúmenes internacionales de migrantes, total",SM.POP.TOTL,46468.0,NaN,NaN,NaN,NaN,49535.0,...,NaN,NaN,382365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,AFW,"Volúmenes internacionales de migrantes, total",SM.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8270665.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,"Volúmenes internacionales de migrantes, total",SM.POP.TOTL,122089.0,NaN,NaN,NaN,NaN,77075.0,...,NaN,NaN,106845.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Eliminar columnas fuera del rango de año de interes (2000-2021) y columnas "Indicator Name", "Indicator Code" , "Unnamed: 66"
coldrop = [str(year) for year in range(1960,2000)]
df = df.drop(coldrop, axis=1)
df = df.drop(["Indicator Name", "Indicator Code" , "Unnamed: 66"] , axis= 1)

In [33]:
# Filtrar filas por los paises de interes
paises_de_interes = ["México" , "Estados Unidos" , "Guatemala" , "Honduras" , "El Salvador" , "Colombia" , "Chile" , "Argentina" , "Brasil" , "Uruguay"]
mascara = df["Country Name"].isin(paises_de_interes)
total_migrantes = df[mascara]

In [34]:
total_migrantes

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,Argentina,ARG,1540219.0,NaN,NaN,NaN,NaN,1673088.0,NaN,NaN,...,NaN,NaN,NaN,2086302.0,NaN,NaN,NaN,NaN,NaN,NaN
29,Brasil,BRA,684596.0,NaN,NaN,NaN,NaN,638582.0,NaN,NaN,...,NaN,NaN,NaN,713568.0,NaN,NaN,NaN,NaN,NaN,NaN
39,Chile,CHL,177332.0,NaN,NaN,NaN,NaN,273384.0,NaN,NaN,...,NaN,NaN,NaN,469436.0,NaN,NaN,NaN,NaN,NaN,NaN
45,Colombia,COL,109609.0,NaN,NaN,NaN,NaN,107612.0,NaN,NaN,...,NaN,NaN,NaN,133134.0,NaN,NaN,NaN,NaN,NaN,NaN
92,Guatemala,GTM,48119.0,NaN,NaN,NaN,NaN,57252.0,NaN,NaN,...,NaN,NaN,NaN,76352.0,NaN,NaN,NaN,NaN,NaN,NaN
97,Honduras,HND,28461.0,NaN,NaN,NaN,NaN,27875.0,NaN,NaN,...,NaN,NaN,NaN,28070.0,NaN,NaN,NaN,NaN,NaN,NaN
154,México,MEX,538051.0,NaN,NaN,NaN,NaN,712487.0,NaN,NaN,...,NaN,NaN,NaN,1193155.0,NaN,NaN,NaN,NaN,NaN,NaN
211,El Salvador,SLV,31713.0,NaN,NaN,NaN,NaN,36019.0,NaN,NaN,...,NaN,NaN,NaN,42045.0,NaN,NaN,NaN,NaN,NaN,NaN
250,Uruguay,URY,88871.0,NaN,NaN,NaN,NaN,82318.0,NaN,NaN,...,NaN,NaN,NaN,71799.0,NaN,NaN,NaN,NaN,NaN,NaN
251,Estados Unidos,USA,34814053.0,NaN,NaN,NaN,NaN,39258293.0,NaN,NaN,...,NaN,NaN,NaN,46627102.0,NaN,NaN,NaN,NaN,NaN,NaN

Esta base de datos posee una gran cantidad de valores nulos por lo que se evaluará su uso en nuestro proyecto

### % de Desempleo

In [35]:
df = pd.read_csv("Dataset/desempleo.csv")

In [36]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Desempleo, total (% de la población activa tot...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AFE,"Desempleo, total (% de la población activa tot...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.512784,6.555645,6.707142,6.855589,6.940365,6.913046,7.121664,7.631303,7.920219,NaN
2,Afganistán,AFG,"Desempleo, total (% de la población activa tot...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.949000,7.910000,8.989000,10.086000,11.180000,11.110000,11.085000,11.710000,NaN,NaN
3,NaN,AFW,"Desempleo, total (% de la población activa tot...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.804448,3.985878,4.241136,4.112958,4.140484,4.201599,4.261414,4.914143,4.873635,NaN
4,Angola,AGO,"Desempleo, total (% de la población activa tot...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.834000,9.580000,9.584000,9.586000,9.535000,9.522000,9.481000,10.350000,10.384000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Desempleo, total (% de la población activa tot...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep. del",YEM,"Desempleo, total (% de la población activa tot...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.264000,13.470000,13.783000,13.407000,13.250000,13.076000,12.978000,13.575000,13.887000,NaN
263,Sudáfrica,ZAF,"Desempleo, total (% de la población activa tot...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.040001,22.610001,22.870001,24.020000,23.990000,24.219999,25.540001,24.340000,28.770000,NaN
264,Zambia,ZMB,"Desempleo, total (% de la población activa tot...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.005000,8.133000,8.280000,8.393000,8.520000,5.030000,5.540000,6.030000,6.220000,NaN
265,Zimbabwe,ZWE,"Desempleo, total (% de la población activa tot...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.994000,4.770000,5.282000,5.796000,6.279000,6.784000,7.370000,7.898000,8.067000,NaN

In [37]:
#Filtrar columnas con datos desde el año 2000
df = df[['Country Name','2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009','2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']]

In [38]:
# Filtrar filas por los paises de interes
paises_de_interes = ["México" , "Estados Unidos" , "Guatemala" , "Honduras" , "El Salvador" , "Colombia" , "Chile" , "Argentina" , "Brasil" , "Uruguay"]
mascara = df["Country Name"].isin(paises_de_interes)
desempleo = df[mascara]

In [39]:
desempleo

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,Argentina,15.000,17.320,19.590,15.36,13.52,11.510,10.080,8.47,7.840,...,7.22,7.10,7.27,7.524,8.109,8.35,9.22,9.84,11.460,8.740
29,Brasil,10.530,10.650,10.640,11.17,10.07,10.550,9.690,9.28,8.270,...,7.25,7.07,6.76,8.560,11.740,12.93,12.46,12.05,13.930,13.340
39,Chile,10.490,10.390,10.170,9.77,10.16,9.340,9.020,8.43,9.290,...,6.64,6.20,6.65,6.490,6.730,6.95,7.21,7.27,11.140,9.350
45,Colombia,20.520,15.040,15.630,14.19,13.72,11.870,10.963,10.25,10.520,...,9.74,9.05,8.57,8.300,8.690,8.87,9.11,9.96,15.040,13.900
92,Guatemala,2.750,2.793,2.767,2.81,2.97,3.053,3.082,3.14,3.314,...,2.76,3.02,2.72,2.510,2.580,2.46,2.28,2.19,3.359,2.942
97,Honduras,3.855,4.000,4.020,5.30,5.99,4.910,3.570,3.21,3.160,...,3.75,5.65,7.08,6.150,6.730,5.53,5.62,5.55,10.680,7.947
154,México,2.650,2.630,3.000,3.46,3.94,3.560,3.570,3.63,3.870,...,4.89,4.91,4.81,4.310,3.860,3.42,3.27,3.48,4.450,4.090
211,El Salvador,6.960,6.960,6.200,6.90,6.80,7.220,6.570,6.41,5.880,...,3.84,3.69,4.15,4.000,4.420,4.39,4.01,4.17,5.020,4.350
250,Uruguay,12.630,15.050,16.650,16.66,12.98,12.010,10.840,9.40,8.030,...,6.45,6.44,6.55,7.490,7.840,7.89,8.34,8.73,10.330,9.290
251,Estados Unidos,3.990,4.730,5.780,5.99,5.53,5.080,4.620,4.62,5.780,...,8.07,7.37,6.17,5.280,4.870,4.36,3.90,3.67,8.050,5.350

### Remesas de trabajadores como % del PIB

In [50]:
df = pd.read_csv("Dataset/remesas recibidas.csv")

In [51]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Remesas de trabajadores y compensación de empl...,BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.232335,0.267469,0.272810,1.765621,1.815559,1.152954,1.017047,1.340365,1.146686,NaN
1,NaN,AFE,Remesas de trabajadores y compensación de empl...,BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.966157,1.059561,1.193248,1.037892,0.989686,1.356030,1.440839,1.486765,1.504529,NaN
2,Afganistán,AFG,Remesas de trabajadores y compensación de empl...,BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.688179,1.232898,1.743284,3.483497,4.353918,4.362631,4.382937,3.916496,2.028828,NaN
3,NaN,AFW,Remesas de trabajadores y compensación de empl...,BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.373739,3.257440,4.070284,4.110583,4.621185,4.509588,4.100454,3.721481,4.011026,NaN
4,Angola,AGO,Remesas de trabajadores y compensación de empl...,BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027464,0.022566,0.012743,0.008002,0.002056,0.002030,0.004971,0.015019,0.018739,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Remesas de trabajadores y compensación de empl...,BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,15.713159,15.533556,15.429544,14.751207,15.486802,15.684795,15.810251,18.609583,18.009599,NaN
262,"Yemen, Rep. del",YEM,Remesas de trabajadores y compensación de empl...,BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.270396,7.750658,7.893839,12.039736,0.000000,0.000000,NaN,NaN,NaN,NaN
263,Sudáfrica,ZAF,Remesas de trabajadores y compensación de empl...,BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.242128,0.239613,0.238024,0.233457,0.229090,0.229870,0.229083,0.240176,0.221150,NaN
264,Zambia,ZMB,Remesas de trabajadores y compensación de empl...,BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.192531,0.214805,0.221383,0.183527,0.361929,0.406534,0.421556,0.744672,1.091261,NaN
265,Zimbabwe,ZWE,Remesas de trabajadores y compensación de empl...,BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.901364,9.766197,10.251803,9.032381,9.837330,4.179939,6.490458,8.517271,6.985948,NaN

In [52]:
#Filtrar columnas con datos desde el año 2000
df = df[['Country Name', 'Country Code', 'Indicator Name','2000','2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009','2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']]

In [53]:
# Filtrar filas por los paises de interes
paises_de_interes = ["México" , "Estados Unidos" , "Guatemala" , "Honduras" , "El Salvador" , "Colombia" , "Chile" , "Argentina" , "Brasil" , "Uruguay"]
mascara = df["Country Name"].isin(paises_de_interes)
remesas = df[mascara]

In [54]:
remesas

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,Argentina,ARG,Remesas de trabajadores y compensación de empl...,0.030381,0.070563,0.211442,0.214301,0.189350,0.217418,0.232474,...,0.105779,0.096917,0.096015,0.083133,0.070234,0.074567,0.099547,0.125381,0.168859,0.187098
29,Brasil,BRA,Remesas de trabajadores y compensación de empl...,0.205904,0.258739,0.393063,0.409631,0.420221,0.314632,0.296772,...,0.112935,0.109902,0.107814,0.160742,0.152575,0.130786,0.153029,0.171551,0.246191,0.254945
39,Chile,CHL,Remesas de trabajadores y compensación de empl...,0.016997,0.016639,0.017640,0.015423,0.011708,0.000000,0.000000,...,0.026960,0.025649,0.023366,0.024327,0.025893,0.024077,0.023648,0.024902,0.028065,0.022050
45,Colombia,COL,Remesas de trabajadores y compensación de empl...,1.611951,2.093801,2.531509,3.250184,2.724349,2.297506,2.412569,...,1.083430,1.164523,1.093046,1.704227,1.835749,1.865687,1.997341,2.202139,2.561793,2.737441
92,Guatemala,GTM,Remesas de trabajadores y compensación de empl...,3.090909,3.443339,7.827118,9.950523,11.144200,11.449568,12.439666,...,10.011852,10.007686,9.941581,10.423370,11.146493,11.714442,12.870488,13.807883,14.692905,17.918751
97,Honduras,HND,Remesas de trabajadores y compensación de empl...,6.602495,7.978403,10.198205,10.514560,13.181452,18.501471,21.602682,...,15.761415,16.747502,17.055224,17.474938,17.790802,18.683948,19.846227,21.528380,23.454272,25.285235
154,México,MEX,Remesas de trabajadores y compensación de empl...,1.062957,1.340846,1.428488,2.283403,2.539084,2.591733,2.721259,...,1.932299,1.819525,1.885586,2.238578,2.660288,2.784550,2.926062,3.074975,3.931928,4.252720
211,El Salvador,SLV,Remesas de trabajadores y compensación de empl...,14.969969,15.666963,15.418277,16.017195,18.674210,20.605525,21.767025,...,18.301791,18.036859,18.414073,18.237806,18.856182,20.002064,20.720840,21.043580,24.145312,26.058687
250,Uruguay,URY,Remesas de trabajadores y compensación de empl...,NaN,0.000029,0.264969,0.512661,0.510701,0.441980,0.454224,...,0.178686,0.171817,0.170925,0.169438,0.158016,0.170286,0.176637,0.183357,0.207460,0.211960
251,Estados Unidos,USA,Remesas de trabajadores y compensación de empl...,0.042874,0.042648,0.041815,0.040781,0.038749,0.036774,0.036683,...,0.038778,0.039262,0.037053,0.036131,0.033859,0.032587,0.033804,0.032969,0.031467,0.029590

### índice de Gini

In [55]:
df = pd.read_csv("Dataset/Indice gini.csv")

In [56]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Índice de Gini,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AFE,Índice de Gini,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,Índice de Gini,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,AFW,Índice de Gini,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Índice de Gini,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,51.3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Índice de Gini,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,26.3,27.3,26.5,26.7,29.0,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep. del",YEM,Índice de Gini,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,36.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Sudáfrica,ZAF,Índice de Gini,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Índice de Gini,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,57.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,Índice de Gini,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,44.3,NaN,50.3,NaN,NaN,NaN

In [57]:
#Filtrar columnas con datos desde el año 2000
df = df[['Country Name', 'Country Code', 'Indicator Name','2000','2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009','2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']]

In [58]:
# Filtrar filas por los paises de interes
paises_de_interes = ["México" , "Estados Unidos" , "Guatemala" , "Honduras" , "El Salvador" , "Colombia" , "Chile" , "Argentina" , "Brasil" , "Uruguay"]
mascara = df["Country Name"].isin(paises_de_interes)
gini = df[mascara]

In [59]:
gini

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,Argentina,ARG,Índice de Gini,51.1,53.3,53.8,50.9,48.4,47.7,46.3,...,41.3,40.9,41.6,NaN,42.0,41.1,41.3,42.9,42.3,42.0
29,Brasil,BRA,Índice de Gini,NaN,58.4,58.1,57.6,56.5,56.3,55.6,...,53.4,52.7,52.0,51.9,53.3,53.3,53.9,53.5,48.9,52.9
39,Chile,CHL,Índice de Gini,52.8,NaN,NaN,51.5,NaN,NaN,47.3,...,NaN,45.8,NaN,44.4,NaN,44.4,NaN,NaN,44.9,NaN
45,Colombia,COL,Índice de Gini,58.7,57.5,56.0,53.6,55.0,53.9,NaN,...,52.6,52.6,52.6,51.0,50.6,49.7,50.4,51.3,53.5,51.5
92,Guatemala,GTM,Índice de Gini,54.2,NaN,NaN,NaN,NaN,NaN,54.6,...,NaN,NaN,48.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Honduras,HND,Índice de Gini,NaN,55.4,55.7,58.1,58.1,59.5,57.5,...,53.4,50.0,49.9,49.2,49.8,49.4,48.9,48.2,NaN,NaN
154,México,MEX,Índice de Gini,52.6,NaN,50.1,NaN,50.0,50.1,48.9,...,48.7,NaN,48.7,NaN,47.7,NaN,46.7,NaN,45.4,NaN
211,El Salvador,SLV,Índice de Gini,51.5,51.4,51.9,50.5,47.8,48.5,45.7,...,41.8,43.4,41.6,40.6,40.0,38.0,38.6,38.8,NaN,39.0
250,Uruguay,URY,Índice de Gini,NaN,NaN,NaN,NaN,NaN,NaN,45.9,...,39.9,40.5,40.1,40.1,39.7,39.5,39.7,39.7,40.2,40.8
251,Estados Unidos,USA,Índice de Gini,40.1,40.6,40.4,40.8,40.3,41.0,41.4,...,40.9,40.7,41.5,41.2,41.1,41.2,41.4,41.5,39.7,NaN