### <p align=center> **ETL Y LIMPIEZA DE LOS DATASET RAW** <p>

### **CONVERTIR A FORMATO MINUSCULAS LAS TABLAS Y LOS DATOS STRING (Normalizacion)**

In [262]:
# En este caso seria bueno aplicar esta praxis de poner todo en minuscula ya que python es un lenguaje "case sensitive" asi que una vez revisado y para facilitar el manejo de datos.  

# En este caso tambien se elimina las columnas que son indices.

import os
import pandas as pd

# Establecer el directorio que contiene los archivos CSV
directory = "Dataset"
save_directory = "dataset_ETL"

# Recorrer cada archivo CSV del directorio
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Cargar el archivo CSV en un DataFrame
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath, index_col=0)
        
        # Convierte los nombres de las columnas a minúsculas
        df.columns = df.columns.str.lower()
        
        # Convierte los datos de cadena a minúsculas
        df = df.applymap(lambda s:s.lower() if type(s) == str else s)
        
        # Create a new file path to save the modified DataFrame
        save_path = os.path.join(save_directory, filename)
        
        # Guardar el DataFrame actualizado de nuevo en el archivo CSV
        df.to_csv(save_path, index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_11616\2029224156.py:17: DtypeWarning: Columns (4,12,13,14,15,16,17,18,19,20,21,22,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, index_col=0)

### <p align=center> **ETL : Limpieza Basica** <p>

#### **Analisaremos a fondo los datasets "Demographic_Indicators" y "Economy_Complete" ya que son los que tienen mas informacion y vana servir como punto de union para todos los datasetsa**

### **Cargamos los datasets**

In [263]:
Demographic_Indicators = pd.read_csv("datasets\Demographic_Indicators.csv")
Economy_Complete = pd.read_csv("datasets\Economy_Complete.csv")
Environment_Electricity_Sanitation = pd.read_csv("datasets\Environment_Electricity-Sanitation.csv")
Environment_Population_Density = pd.read_csv("datasets\Environment_Population-Density.csv")
People_Complete = pd.read_csv("datasets\People_Complete.csv")
Poverty_Maternal_Mortality = pd.read_csv("datasets\Poverty_Maternal-Mortality.csv")
Refugee_origin_asylum = pd.read_csv("datasets\Refugee-origin-asylum.csv")
States_GDP_percapita = pd.read_csv("datasets\States_GDP-percapita.csv")
States_Mobile_Population_Research_Labor = pd.read_csv("datasets\States_Mobile-Population-Research-Labor.csv")

# Esto no era necesario pude nombrarlos dfn de frente pero para que no haya confusiones 

df1 = Demographic_Indicators
df2 = Economy_Complete
df3 = Environment_Electricity_Sanitation
df4 = Environment_Population_Density 
df5 = People_Complete
df6 = Poverty_Maternal_Mortality
df7 = Refugee_origin_asylum
df8 = States_GDP_percapita
df9 = States_Mobile_Population_Research_Labor

C:\Users\user\AppData\Local\Temp\ipykernel_11616\4077865243.py:1: DtypeWarning: Columns (3,11,12,13,14,15,16,17,18,19,20,21,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  Demographic_Indicators = pd.read_csv("dataset_ETL\Demographic_Indicators.csv")

### **Eliminamos Columnas que apriori son Irrelevantes o Redundantes**

#### <p align=center> **Demographic_Indicators Dataset** <p>

In [264]:
# Esto es una representacion , el analisis se hizo viendo y analizando el csv 
print(df1)

       index    variant region, subregion, country or area * notes  \
0          1  estimates                                world   NaN
1          2  estimates                                world   NaN
2          3  estimates                                world   NaN
3          4  estimates                                world   NaN
4          5  estimates                                world   NaN
...      ...        ...                                  ...   ...
20591  20592  estimates            wallis and futuna islands   2.0
20592  20593  estimates            wallis and futuna islands   2.0
20593  20594  estimates            wallis and futuna islands   2.0
20594  20595  estimates            wallis and futuna islands   2.0
20595  20596  estimates            wallis and futuna islands   2.0

       location code iso3 alpha-code iso2 alpha-code  sdmx code**  \
0                900             NaN             NaN          1.0
1                900             NaN             NaN          1.0
2                900             NaN             NaN          1.0
3                900             NaN             NaN          1.0
4                900             NaN             NaN          1.0
...              ...             ...             ...          ...
20591            876             wlf              wf        876.0
20592            876             wlf              wf        876.0
20593            876             wlf              wf        876.0
20594            876             wlf              wf        876.0
20595            876             wlf              wf        876.0

               type  parent code  ...  \
0             world            0  ...
1             world            0  ...
2             world            0  ...
3             world            0  ...
4             world            0  ...
...             ...          ...  ...
20591  country/area          957  ...
20592  country/area          957  ...
20593  country/area          957  ...
20594  country/area          957  ...
20595  country/area          957  ...

       male mortality before age 60 (deaths under age 60 per 1,000 male live births)  \
0                                                 580.75
1                                                566.728
2                                                546.317
3                                                535.829
4                                                523.124
...                                                  ...
20591                                             92.066
20592                                             99.196
20593                                             77.781
20594                                             85.608
20595                                             89.321

      female mortality before age 60 (deaths under age 60 per 1,000 female live births)  \
0                                                 498.04
1                                                490.199
2                                                477.264
3                                                469.532
4                                                458.484
...                                                  ...
20591                                            102.718
20592                                             89.345
20593                                             80.136
20594                                             86.364
20595                                              84.68

      mortality between age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)  \
0                                                240.316
1                                                231.177
2                                                218.674
3                                                212.872
4                                                205.762
...                                                  ...
20591                                             30.643
20592                                             29.201
20593                                             24.304
20594                                             26.572
20595                                             25.848

      male mortality between age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)  \
0                                                271.625
1                                                 258.09
2                                                240.034
3                                                232.602
4                                                 224.05
...                                                  ...
20591                                             26.781
20592                                             29.159
20593                                             22.291
20594                                             24.691
20595                                             24.836

      female mortality between age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)  \
0                                                208.192
1                                                 203.78
2                                                197.142
3                                                193.049
4                                                187.444
...                                                  ...
20591                                             33.892
20592                                              29.17
20593                                             25.981
20594                                             28.127
20595                                             26.644

      mortality between age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)  \
0                                                378.697
1                                                368.319
2                                                353.055
3                                                345.083
4                                                335.442
...                                                  ...
20591                                             82.852
20592                                             79.633
20593                                             66.639
20594                                              72.73
20595                                             74.207

      male mortality between age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)  \
0                                                430.259
1                                                415.836
2                                                395.533
3                                                385.843
4                                                374.658
...                                                  ...
20591                                             82.197
20592                                             88.556
20593                                             69.324
20594                                             76.411
20595                                             80.373

      female mortality between age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)  \
0                                                324.931
1                                                319.336
2                                                 309.91
3                                                303.905
4                                                295.994
...                                                  ...
20591                                              83.32
20592                                             72.163
20593                                             64.496
20594                                             69.685
20595                                             68.905

      net number of migrants (thousands)  \
0                                      0
1                                      0
2                                      0
3                                      0
4                                      0
...                                  ...
20591                             -0.201
20592                             -0.171
20593                             -0.171
20594                             -0.083
20595                             -0.083

      net migration rate (per 1,000 population)
0                                             0
1                                             0
2                                             0
3                                             0
4                                             0
...                                         ...
20591                                   -16.706
20592                                   -14.368
20593                                   -14.489
20594                                    -7.096
20595                                    -7.112

[20596 rows x 65 columns]

**Eliminamos la columna "index"**

In [265]:
df1.drop('index', axis=1, inplace=True)

**Analizamos la columna "variant"**

In [266]:
# Analizamos los datos de la columna para ver si pueden ser de utilidad
counts = df1['variant'].value_counts()

# Imprimimos los valores unicos
for value in counts.index:
    print(value)

estimates

In [267]:
# La columna 'variant' solo tiene como unico valor a 'estimates' , El término "estimates" se utiliza a menudo para describir los datos de población que se han calculado basándose en las tendencias pasadas de fecundidad, mortalidad y migración. PROCEDEREMOS A ELIMINAR LA COLUMNA 'VARIANT'
df1.drop('variant', axis=1, inplace=True)

**Analizamos la columna "notes"**

In [268]:
# Analizamos los datos de la columna para ver si pueden ser de utilidad
counts = df1['notes'].value_counts()

# Imprimimos los valores unicos
for value in counts.index:
    print(value)

19.0
2.0
29.0
j
28.0
35.0
17.0
2
30.0
31.0
32.0
27.0
15.0
26.0
25.0
24.0
23.0
22.0
21.0
20.0
33.0
18.0
34.0
16.0
13.0
14.0
4
d
e
f
g
h
i
1
b
3
5
6
7
8
9.0
10.0
11.0
12.0
k
c
a

In [269]:
# Vemos los datos y parecen puestos de forma aleatoria ,o bajo un criterio especifico del cual no seria practico considerar, aparte que viendo los datos no se pudo encontrar referencia , PROCEDEREMOS A ELIMINAR ESTA COLUMNA 'NOTES'
df1.drop('notes', axis=1, inplace=True)

**Analizamos la columna "location code" , "sdmx code" , "parent code" and "type"**

In [270]:
# Vemos que las columnas "location code" , "sdmx code" y "parent code" hacen alusion a codigos unicos especificos de origen geografico , en este caso cogimos a estos 3 en conjunto con la columna "type" porque estos cambian de acuerdo al valor de "type" , la columna "parent code" hace referencia a un codigo de area parecido a uno regional  osea que varios paises pueden tener un mismo "parental code" , y tambien el valor de "location code" puede variar ya que "type" tiene los siguientes valores :

#imprimir valores unicos de columnas
counts = df1['type'].value_counts()

# print the unique values
for value in counts.index:
    print(value)

country/area
subregion
sdg region
income group
region
development group
special other
world
label/separator

In [271]:
df1.drop('location code', axis=1, inplace=True)
df1.drop('sdmx code**', axis=1, inplace=True)
df1.drop('parent code', axis=1, inplace=True)

**Analizamos la columna "iso3 alpha-code" y "iso2 alpha-code"**

In [272]:
# Vemos que la columna "iso3 alpha-code" contiene como valores unicos para cada pais un codigo de letras de 3 cifras mientras que "iso2 alpha-code" de 2 cifras , seria recomendable quedarse con "iso3 alpha-code" debido a que estos codigos de 3 cifras se repiten y aparecen en los otros datasets lo cual seria ideal si despues se quiere juntar los datasets para analisis mas complejo o para el modelo de maching learning , PROCEDEMOS A ELIMINAR LA COLUMNA 'ISO ALPHA-CODE' 
df1.drop('iso2 alpha-code', axis=1, inplace=True)

**Analizamos la Filas que tengan en la columna "type" el valor de "label/separator"**

In [273]:
# Vemos que estas filas estan con el unico proposito de servir de separador para alguien que revise las tablas , nosera necesario porque mas adelante este proceso se automatizara , PROCEDEMOS A ELIMINAR LAS FILAS CON VALOR 'LABEL/SEPARATOR' EN LA COLUMNA 'TYPE'
df1 = df1[df1['type'] != 'label/separator']

#### <p align=center> **Economy_Complete Dataset** <p>

In [274]:
# Esto es una representacion , el analisis se hizo viendo y analizando el csv 
print(df2)

     economy    time                 country  time.1  \
0        zwe  yr2021                zimbabwe    2021
1        zwe  yr2020                zimbabwe    2020
2        zwe  yr2019                zimbabwe    2019
3        zwe  yr2018                zimbabwe    2018
4        zwe  yr2017                zimbabwe    2017
...      ...     ...                     ...     ...
5733     vgb  yr2002  british virgin islands    2002
5734     vgb  yr2001  british virgin islands    2001
5735     vgb  yr2000  british virgin islands    2000
5736     afg  yr2001             afghanistan    2001
5737     afg  yr2000             afghanistan    2000

      foreign direct investment, net inflows (bop, current us$)  \
0                                          1.660000e+08
1                                          1.503600e+08
2                                          2.495000e+08
3                                          7.178653e+08
4                                          3.071877e+08
...                                                 ...
5733                                       5.451882e+09
5734                                       3.791260e+09
5735                                       8.073327e+09
5736                                       6.800000e+05
5737                                       1.700000e+05

      total reserves (gold + us$)  consumer price  \
0                    8.387802e+08     5411.002445
1                    3.340502e+07     2725.312815
2                    1.512405e+08      414.684309
3                    8.695109e+07      116.712211
4                    2.926212e+08      105.508414
...                           ...             ...
5733                          NaN             NaN
5734                          NaN             NaN
5735                          NaN             NaN
5736                          NaN             NaN
5737                          NaN             NaN

      time required to start a business (days)  \
0                                          NaN
1                                          NaN
2                                         27.0
3                                         32.0
4                                         61.0
...                                        ...
5733                                       NaN
5734                                       NaN
5735                                       NaN
5736                                       NaN
5737                                       NaN

      total tax and contribution rate (pct of profit)  \
0                                                 NaN
1                                                 NaN
2                                                31.6
3                                                31.6
4                                                31.6
...                                               ...
5733                                              NaN
5734                                              NaN
5735                                              NaN
5736                                              NaN
5737                                              NaN

      final consumption expenditure  \
0                         14.261391
1                         -4.540536
2                        -10.119249
3                         -0.462873
4                          3.920652
...                             ...
5733                            NaN
5734                            NaN
5735                            NaN
5736                            NaN
5737                            NaN

      exports of goods and services (pct of gdp)  \
0                                      25.411446
1                                      25.917014
2                                      27.163459
3                                      26.163973
4                                      19.658905
...                                          ...
5733                                         NaN
5734                                         NaN
5735                                         NaN
5736                                         NaN
5737                                         NaN

      imports of goods and services (pct of gdp)  gross domestic product  \
0                                      30.901234            2.837124e+10
1                                      28.733547            2.150970e+10
2                                      25.524111            2.183223e+10
3                                      28.386297            3.415607e+10
4                                      30.370807            1.758489e+10
...                                          ...                     ...
5733                                         NaN                     NaN
5734                                         NaN                     NaN
5735                                         NaN                     NaN
5736                                         NaN                     NaN
5737                                         NaN                     NaN

      gdp growth  gni per capita  gross savings
0       8.468017          1530.0            NaN
1      -7.816951          1460.0      16.452763
2      -6.332446          1450.0      20.231198
3       5.009867          1550.0      13.923906
4       4.080264          1170.0      -2.682417
...          ...             ...            ...
5733         NaN             NaN            NaN
5734         NaN             NaN            NaN
5735         NaN             NaN            NaN
5736         NaN             NaN            NaN
5737         NaN             NaN            NaN

[5738 rows x 16 columns]

**Analizamos las dos columnas llamadas "time"**

In [275]:
# Vemos que una de las columnas time es igual que la otra solo que incluye el prefijo "YR" antes de cada anio aparte el programa se vio obligado a renombrar a la segunda columna time como time.1, PROCEDEMOS A ELIMINAR ESTA COLUMNA "TIME" CON LOS PREFIJOS
df2.drop('time', axis=1, inplace=True)

In [276]:
# La columna "country" no es necesaria en este dataset porque ya lo tenemos en el dataset "Demographic_Indicators" para unir los codigos con los nombres , PROCEDEMOS A ELIMINAR LA COLUMNA 'COUNTRY'
df2.drop('country', axis=1, inplace=True)

In [277]:
# Vemos que la columna "time.1" esta mal nombrada , asi que vamos a cambiarle el nombre a "time"
df2.rename(columns={'time.1': 'year'}, inplace=True)

In [278]:
# Cambiamos el nombre a la columna "economy" a "iso3 alpha-code" 
df2.rename(columns={'economy': 'iso3 alpha-code'}, inplace=True)

#### <p align=center> **Environment_Electricity-Sanitation Dataset** <p>

In [279]:
# Esto es una representacion , el analisis se hizo viendo y analizando el csv 
print(df3)

     economy    time                    country  time.1  access elect.  \
0        zwe  yr2020                   zimbabwe    2020      52.747669
1        zwe  yr2019                   zimbabwe    2019      46.781475
2        zwe  yr2018                   zimbabwe    2018      45.572647
3        zwe  yr2017                   zimbabwe    2017      44.178635
4        zwe  yr2016                   zimbabwe    2016      42.561729
...      ...     ...                        ...     ...            ...
5518     prk  yr2004  korea, dem. people's rep.    2004            NaN
5519     prk  yr2003  korea, dem. people's rep.    2003            NaN
5520     prk  yr2002  korea, dem. people's rep.    2002            NaN
5521     gnb  yr2001              guinea-bissau    2001            NaN
5522     gnb  yr2000              guinea-bissau    2000            NaN

      basic sanitation
0            41.829436
1            43.223952
2            44.613054
3            45.996743
4            47.375018
...                ...
5518         80.584538
5519         80.584538
5520         80.584538
5521         14.050765
5522         13.092926

[5523 rows x 6 columns]

In [280]:
# La columna "country" no es necesaria en este dataset porque ya lo tenemos en el dataset "Demographic_Indicators" para unir los codigos con los nombres , PROCEDEMOS A ELIMINAR LA COLUMNA 'COUNTRY'
df3.drop('country', axis=1, inplace=True)

In [281]:
# Vemos que una de las columnas time es igual que la otra solo que incluye el prefijo "YR" antes de cada anio aparte el programa se vio obligado a renombrar a la segunda columna time como time.1, PROCEDEMOS A ELIMINAR ESTA COLUMNA "TIME" CON LOS PREFIJOS
df3.drop('time', axis=1, inplace=True)

In [282]:
# Vemos que la columna "time.1" esta mal nombrada , asi que vamos a cambiarle el nombre a "time"
df3.rename(columns={'time.1': 'year'}, inplace=True)

In [283]:
# Cambiamos el nombre a la columna "economy" a "iso3 alpha-code"
df3.rename(columns={'economy': 'iso3 alpha-code'}, inplace=True)

#### <p align=center> **Environment_Population-Density Dataset** <p>

In [284]:
# Esto es una representacion , el analisis se hizo viendo y analizando el csv 
print(df4)

      country name country code  year      value
0       arab world          arb  1961   6.976239
1       arab world          arb  1962   7.169853
2       arab world          arb  1963   7.370144
3       arab world          arb  1964   7.577779
4       arab world          arb  1965   7.793214
...            ...          ...   ...        ...
14334     zimbabwe          zwe  2012  38.027210
14335     zimbabwe          zwe  2013  38.915616
14336     zimbabwe          zwe  2014  39.838891
14337     zimbabwe          zwe  2015  40.784415
14338     zimbabwe          zwe  2016  41.748383

[14339 rows x 4 columns]

In [285]:
# La columna "country name" no es necesaria en este dataset porque ya lo tenemos en el dataset "Demographic_Indicators" para unir los codigos con los nombres , PROCEDEMOS A ELIMINAR LA COLUMNA 'COUNTRY'
df4.drop('country name', axis=1, inplace=True)

In [286]:
# Cambiamos el nombre a la columna "country code" a "iso3 alpha-code"
df4.rename(columns={'country code': 'iso3 alpha-code'}, inplace=True)

#### <p align=center> **People_Complete Dataset** <p>

In [287]:
# Esto es una representacion , el analisis se hizo viendo y analizando el csv 
print(df5)

     economy    time         country  time.1  \
0        zwe  yr2018        zimbabwe    2018
1        zwe  yr2017        zimbabwe    2017
2        zwe  yr2016        zimbabwe    2016
3        zwe  yr2015        zimbabwe    2015
4        zwe  yr2014        zimbabwe    2014
...      ...     ...             ...     ...
5631     asm  yr2005  american samoa    2005
5632     asm  yr2004  american samoa    2004
5633     asm  yr2003  american samoa    2003
5634     asm  yr2002  american samoa    2002
5635     asm  yr2001  american samoa    2001

      primary completion rate, total (pct of relevant age group)  \
0                                             92.195152
1                                             95.476372
2                                             99.265839
3                                            100.626831
4                                             97.806999
...                                                 ...
5631                                                NaN
5632                                                NaN
5633                                                NaN
5634                                                NaN
5635                                                NaN

      expenditure education  unemployment  \
0                   3.86611         4.796
1                   5.81878         4.785
2                   5.47262         4.788
3                   5.81279         4.778
4                   6.13835         4.770
...                     ...           ...
5631                    NaN           NaN
5632                    NaN           NaN
5633                    NaN           NaN
5634                    NaN           NaN
5635                    NaN           NaN

      intentional homicides (per 100,000 people)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
5631                                   10.074383
5632                                    6.701964
5633                                    5.042441
5634                                   11.848943
5635                                    1.709519

[5636 rows x 8 columns]

In [288]:
# La columna "country" no es necesaria en este dataset porque ya lo tenemos en el dataset "Demographic_Indicators" para unir los codigos con los nombres , PROCEDEMOS A ELIMINAR LA COLUMNA 'COUNTRY'
df5.drop('country', axis=1, inplace=True)

In [289]:
# Vemos que una de las columnas time es igual que la otra solo que incluye el prefijo "YR" antes de cada anio aparte el programa se vio obligado a renombrar a la segunda columna time como time.1, PROCEDEMOS A ELIMINAR ESTA COLUMNA "TIME" CON LOS PREFIJOS
df5.drop('time', axis=1, inplace=True)

In [290]:
# Vemos que la columna "time.1" esta mal nombrada , asi que vamos a cambiarle el nombre a "time"
df5.rename(columns={'time.1': 'year'}, inplace=True)

In [291]:
# Cambiamos el nombre a la columna "economy" a "iso3 alpha-code"
df5.rename(columns={'economy': 'iso3 alpha-code'}, inplace=True)

#### <p align=center> **Poverty_Maternal-Mortality Dataset** <p>

In [292]:
# Esto es una representacion , el analisis se hizo viendo y analizando el csv 
print(df6)

     country name country code  year  value
0      arab world          arb  1990    289
1      arab world          arb  1991    285
2      arab world          arb  1992    281
3      arab world          arb  1993    278
4      arab world          arb  1994    274
...           ...          ...   ...    ...
5949     zimbabwe          zwe  2011    409
5950     zimbabwe          zwe  2012    379
5951     zimbabwe          zwe  2013    369
5952     zimbabwe          zwe  2014    401
5953     zimbabwe          zwe  2015    443

[5954 rows x 4 columns]

In [293]:
# La columna "country name" no es necesaria en este dataset porque ya lo tenemos en el dataset "Demographic_Indicators" para unir los codigos con los nombres , PROCEDEMOS A ELIMINAR LA COLUMNA 'COUNTRY'
df6.drop('country name', axis=1, inplace=True)

In [294]:
# Cambiamos el nombre a la columna "country code" a "iso3 alpha-code"
df6.rename(columns={'country code': 'iso3 alpha-code'}, inplace=True)

#### <p align=center> **Refugee-origin-asylum Dataset** <p>

In [295]:
# Esto es una representacion , el analisis se hizo viendo y analizando el csv
print(df7)

     economy    time       country  time.1  \
0        zwe  yr2021      zimbabwe    2021
1        zwe  yr2020      zimbabwe    2020
2        zwe  yr2019      zimbabwe    2019
3        zwe  yr2018      zimbabwe    2018
4        zwe  yr2017      zimbabwe    2017
...      ...     ...           ...     ...
5163     bhs  yr2000  bahamas, the    2000
5164     aut  yr2016       austria    2016
5165     aut  yr2015       austria    2015
5166     aus  yr2001     australia    2001
5167     aus  yr2000     australia    2000

      refugee population by country or territory of asylum  \
0                                                9483.0
1                                                9261.0
2                                                8956.0
3                                                7795.0
4                                                7566.0
...                                                 ...
5163                                               98.0
5164                                            93242.0
5165                                            72198.0
5166                                            57885.0
5167                                            60219.0

      refugee population by country or territory of origin
0                                                8115.0
1                                                8575.0
2                                               10045.0
3                                               15618.0
4                                               17420.0
...                                                 ...
5163                                                NaN
5164                                                NaN
5165                                                NaN
5166                                                NaN
5167                                                NaN

[5168 rows x 6 columns]

In [296]:
# La columna "country" no es necesaria en este dataset porque ya lo tenemos en el dataset "Demographic_Indicators" para unir los codigos con los nombres , PROCEDEMOS A ELIMINAR LA COLUMNA 'COUNTRY'
df7.drop('country', axis=1, inplace=True)

In [297]:
# Vemos que una de las columnas time es igual que la otra solo que incluye el prefijo "YR" antes de cada anio aparte el programa se vio obligado a renombrar a la segunda columna time como time.1, PROCEDEMOS A ELIMINAR ESTA COLUMNA "TIME" CON LOS PREFIJOS
df7.drop('time', axis=1, inplace=True)

In [298]:
# Vemos que la columna "time.1" esta mal nombrada , asi que vamos a cambiarle el nombre a "time"
df7.rename(columns={'time.1': 'year'}, inplace=True)

In [299]:
# Cambiamos el nombre a la columna "economy" a "iso3 alpha-code"
df7.rename(columns={'economy': 'iso3 alpha-code'}, inplace=True)

#### <p align=center> **States_GDP-percapita Dataset** <p>

In [300]:
# Esto es una representacion , el analisis se hizo viendo y analizando el csv
print(df8)

     country name country code  year        value
0      arab world          arb  1990  6759.785391
1      arab world          arb  1991  6821.770961
2      arab world          arb  1992  7193.242012
3      arab world          arb  1993  7394.499977
4      arab world          arb  1994  7583.281922
...           ...          ...   ...          ...
6189     zimbabwe          zwe  2012  1905.837880
6190     zimbabwe          zwe  2013  1997.052201
6191     zimbabwe          zwe  2014  2028.019259
6192     zimbabwe          zwe  2015  2036.319260
6193     zimbabwe          zwe  2016  2027.084917

[6194 rows x 4 columns]

In [301]:
# La columna "country name" no es necesaria en este dataset porque ya lo tenemos en el dataset "Demographic_Indicators" para unir los codigos con los nombres , PROCEDEMOS A ELIMINAR LA COLUMNA 'COUNTRY'
df8.drop('country name', axis=1, inplace=True)

In [302]:
# Cambiamos el nombre a la columna "country code" a "iso3 alpha-code"
df8.rename(columns={'country code': 'iso3 alpha-code'}, inplace=True)

#### <p align=center> **States_Mobile-Population-Research-Labor Dataset** <p>

In [303]:
# Esto es una representacion , el analisis se hizo viendo y analizando el csv
print(df9)

     economy    time                                       country  time.1  \
0        zwe  yr2021                                      zimbabwe    2021
1        zwe  yr2020                                      zimbabwe    2020
2        zwe  yr2019                                      zimbabwe    2019
3        zwe  yr2018                                      zimbabwe    2018
4        zwe  yr2017                                      zimbabwe    2017
...      ...     ...                                           ...     ...
5825     lic  yr2021                                    low income    2021
5826     ldc  yr2021  least developed countries: un classification    2021
5827     idx  yr2021                                      ida only    2021
5828     hpc  yr2021        heavily indebted poor countries (hipc)    2021
5829     fcs  yr2021      fragile and conflict affected situations    2021

      research and development expenditure (pct of gdp)  mobile subs.  \
0                                                   NaN     89.146019
1                                                   NaN     84.186274
2                                                   NaN     85.940989
3                                                   NaN     85.761588
4                                                   NaN     95.532557
...                                                 ...           ...
5825                                                NaN           NaN
5826                                                NaN           NaN
5827                                                NaN           NaN
5828                                                NaN           NaN
5829                                                NaN           NaN

      labour force, total  population total
0               7915768.0      1.599352e+07
1               7693983.0      1.566967e+07
2               7591946.0      1.535461e+07
3               7403981.0      1.505218e+07
4               7214627.0      1.475110e+07
...                   ...               ...
5825          273924415.0      7.182551e+08
5826          436837302.0      1.099569e+09
5827          464003999.0      1.182861e+09
5828          336104196.0      8.611567e+08
5829          353265753.0      1.001462e+09

[5830 rows x 8 columns]

In [304]:
# La columna "country" no es necesaria en este dataset porque ya lo tenemos en el dataset "Demographic_Indicators" para unir los codigos con los nombres , PROCEDEMOS A ELIMINAR LA COLUMNA 'COUNTRY'
df9.drop('country', axis=1, inplace=True)

In [305]:
# Vemos que una de las columnas time es igual que la otra solo que incluye el prefijo "YR" antes de cada anio aparte el programa se vio obligado a renombrar a la segunda columna time como time.1, PROCEDEMOS A ELIMINAR ESTA COLUMNA "TIME" CON LOS PREFIJOS
df9.drop('time', axis=1, inplace=True)

In [306]:
# Vemos que la columna "time.1" esta mal nombrada , asi que vamos a cambiarle el nombre a "time"
df9.rename(columns={'time.1': 'year'}, inplace=True)

In [307]:
# Cambiamos el nombre a la columna "economy" a "iso3 alpha-code"
df9.rename(columns={'economy': 'iso3 alpha-code'}, inplace=True)

### **Formateamos los datos de los datasets y llenamos vacios numericos con NaN**

#### <p align=center> **Demographic_Indicators Dataset** <p>

In [308]:
# Mostramos el dataset modificado 
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20592 entries, 0 to 20595
Data columns (total 58 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   region, subregion, country or area *                                                            20592 non-null  object
 1   iso3 alpha-code                                                                                 17064 non-null  object
 2   type                                                                                            20592 non-null  object
 3   year                                                                                            20592 non-null  float64
 4   total population, as of 1 january (thousands)                                                   20592 non-null  object
 5   total population, as of 1 july (thousands)                                                      20592 non-null  object
 6   male population, as of 1 july (thousands)                                                       20592 non-null  object
 7   female population, as of 1 july (thousands)                                                     20592 non-null  object
 8   population density, as of 1 july (persons per square km)                                        20592 non-null  object
 9   population sex ratio, as of 1 july (males per 100 females)                                      20592 non-null  object
 10  median age, as of 1 july (years)                                                                20592 non-null  object
 11  natural change, births minus deaths (thousands)                                                 20592 non-null  object
 12  rate of natural change (per 1,000 population)                                                   20592 non-null  object
 13  population change (thousands)                                                                   20592 non-null  object
 14  population growth rate (percentage)                                                             20592 non-null  object
 15  population annual doubling time (years)                                                         20592 non-null  object
 16  births (thousands)                                                                              20592 non-null  object
 17  births by women aged 15 to 19 (thousands)                                                       20592 non-null  object
 18  crude birth rate (births per 1,000 population)                                                  20592 non-null  object
 19  total fertility rate (live births per woman)                                                    20592 non-null  object
 20  net reproduction rate (surviving daughters per woman)                                           20592 non-null  object
 21  mean age childbearing (years)                                                                   20592 non-null  object
 22  sex ratio at birth (males per 100 female births)                                                20592 non-null  object
 23  total deaths (thousands)                                                                        20592 non-null  object
 24  male deaths (thousands)                                                                         20592 non-null  object
 25  female deaths (thousands)                                                                       20592 non-null  object
 26  crude death rate (deaths per 1,000 population)                                                  20592 non-null  object
 27  life expectancy at birth, both sexes (years)                                                    20592 non-null  object
 28  male life expectancy at birth (years)                                                           20592 non-null  object
 29  female life expectancy at birth (years)                                                         20592 non-null  object
 30  life expectancy at age 15, both sexes (years)                                                   20592 non-null  object
 31  male life expectancy at age 15 (years)                                                          20592 non-null  object
 32  female life expectancy at age 15 (years)                                                        20592 non-null  object
 33  life expectancy at age 65, both sexes (years)                                                   20592 non-null  object
 34  male life expectancy at age 65 (years)                                                          20592 non-null  object
 35  female life expectancy at age 65 (years)                                                        20592 non-null  object
 36  life expectancy at age 80, both sexes (years)                                                   20592 non-null  object
 37  male life expectancy at age 80 (years)                                                          20592 non-null  object
 38  female life expectancy at age 80 (years)                                                        20592 non-null  object
 39  infant deaths, under age 1 (thousands)                                                          20592 non-null  object
 40  infant mortality rate (infant deaths per 1,000 live births)                                     20592 non-null  object
 41  live births surviving to age 1 (thousands)                                                      20592 non-null  object
 42  under-five deaths, under age 5 (thousands)                                                      20592 non-null  object
 43  under-five mortality (deaths under age 5 per 1,000 live births)                                 20592 non-null  object
 44  mortality before age 40, both sexes (deaths under age 40 per 1,000 live births)                 20592 non-null  object
 45  male mortality before age 40 (deaths under age 40 per 1,000 male live births)                   20592 non-null  object
 46  female mortality before age 40 (deaths under age 40 per 1,000 female live births)               20592 non-null  object
 47  mortality before age 60, both sexes (deaths under age 60 per 1,000 live births)                 20592 non-null  object
 48  male mortality before age 60 (deaths under age 60 per 1,000 male live births)                   20592 non-null  object
 49  female mortality before age 60 (deaths under age 60 per 1,000 female live births)               20592 non-null  object
 50  mortality between age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)     20592 non-null  object
 51  male mortality between age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)      20592 non-null  object
 52  female mortality between age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)  20592 non-null  object
 53  mortality between age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)     20592 non-null  object
 54  male mortality between age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)      20592 non-null  object
 55  female mortality between age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)  20592 non-null  object
 56  net number of migrants (thousands)                                                              20592 non-null  object
 57  net migration rate (per 1,000 population)                                                       20592 non-null  object
dtypes: float64(1), object(57)
memory usage: 9.3+ MB

In [309]:
df1['region, subregion, country or area *'] = df1['region, subregion, country or area *'].astype('str')
df1['iso3 alpha-code'] = df1['iso3 alpha-code'].astype('str')
df1['type'] = df1['type'].astype('str')
df1['year'] = df1['year'].astype('int')
for col in df1.columns[4:]:
    df1[col] = pd.to_numeric(df1[col], errors='coerce')

C:\Users\user\AppData\Local\Temp\ipykernel_11616\3571693485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['region, subregion, country or area *'] = df1['region, subregion, country or area *'].astype('str')
C:\Users\user\AppData\Local\Temp\ipykernel_11616\3571693485.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['iso3 alpha-code'] = df1['iso3 alpha-code'].astype('str')
C:\Users\user\AppData\Local\Temp\ipykernel_11616\3571693485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['type'] = df1['type'].astype('str')
C:\Users\user\AppData\Local\Temp\ipykernel_11616\3571693485.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['year'] = df1['year'].astype('int')
C:\Users\user\AppData\Local\Temp\ipykernel_11616\3571693485.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[col] = pd.to_numeric(df1[col], errors='coerce')

In [310]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20592 entries, 0 to 20595
Data columns (total 58 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   region, subregion, country or area *                                                            20592 non-null  object
 1   iso3 alpha-code                                                                                 20592 non-null  object
 2   type                                                                                            20592 non-null  object
 3   year                                                                                            20592 non-null  int32
 4   total population, as of 1 january (thousands)                                                   20592 non-null  float64
 5   total population, as of 1 july (thousands)                                                      20592 non-null  float64
 6   male population, as of 1 july (thousands)                                                       20520 non-null  float64
 7   female population, as of 1 july (thousands)                                                     20520 non-null  float64
 8   population density, as of 1 july (persons per square km)                                        20592 non-null  float64
 9   population sex ratio, as of 1 july (males per 100 females)                                      20520 non-null  float64
 10  median age, as of 1 july (years)                                                                20520 non-null  float64
 11  natural change, births minus deaths (thousands)                                                 20520 non-null  float64
 12  rate of natural change (per 1,000 population)                                                   20520 non-null  float64
 13  population change (thousands)                                                                   20592 non-null  float64
 14  population growth rate (percentage)                                                             20592 non-null  float64
 15  population annual doubling time (years)                                                         16906 non-null  float64
 16  births (thousands)                                                                              20520 non-null  float64
 17  births by women aged 15 to 19 (thousands)                                                       20520 non-null  float64
 18  crude birth rate (births per 1,000 population)                                                  20520 non-null  float64
 19  total fertility rate (live births per woman)                                                    20520 non-null  float64
 20  net reproduction rate (surviving daughters per woman)                                           20520 non-null  float64
 21  mean age childbearing (years)                                                                   20520 non-null  float64
 22  sex ratio at birth (males per 100 female births)                                                20520 non-null  float64
 23  total deaths (thousands)                                                                        20520 non-null  float64
 24  male deaths (thousands)                                                                         20520 non-null  float64
 25  female deaths (thousands)                                                                       20520 non-null  float64
 26  crude death rate (deaths per 1,000 population)                                                  20520 non-null  float64
 27  life expectancy at birth, both sexes (years)                                                    20520 non-null  float64
 28  male life expectancy at birth (years)                                                           20520 non-null  float64
 29  female life expectancy at birth (years)                                                         20520 non-null  float64
 30  life expectancy at age 15, both sexes (years)                                                   20520 non-null  float64
 31  male life expectancy at age 15 (years)                                                          20520 non-null  float64
 32  female life expectancy at age 15 (years)                                                        20520 non-null  float64
 33  life expectancy at age 65, both sexes (years)                                                   20520 non-null  float64
 34  male life expectancy at age 65 (years)                                                          20520 non-null  float64
 35  female life expectancy at age 65 (years)                                                        20520 non-null  float64
 36  life expectancy at age 80, both sexes (years)                                                   20520 non-null  float64
 37  male life expectancy at age 80 (years)                                                          20520 non-null  float64
 38  female life expectancy at age 80 (years)                                                        20520 non-null  float64
 39  infant deaths, under age 1 (thousands)                                                          20520 non-null  float64
 40  infant mortality rate (infant deaths per 1,000 live births)                                     20520 non-null  float64
 41  live births surviving to age 1 (thousands)                                                      20520 non-null  float64
 42  under-five deaths, under age 5 (thousands)                                                      20520 non-null  float64
 43  under-five mortality (deaths under age 5 per 1,000 live births)                                 20520 non-null  float64
 44  mortality before age 40, both sexes (deaths under age 40 per 1,000 live births)                 20520 non-null  float64
 45  male mortality before age 40 (deaths under age 40 per 1,000 male live births)                   20520 non-null  float64
 46  female mortality before age 40 (deaths under age 40 per 1,000 female live births)               20520 non-null  float64
 47  mortality before age 60, both sexes (deaths under age 60 per 1,000 live births)                 20520 non-null  float64
 48  male mortality before age 60 (deaths under age 60 per 1,000 male live births)                   20520 non-null  float64
 49  female mortality before age 60 (deaths under age 60 per 1,000 female live births)               20520 non-null  float64
 50  mortality between age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)     20520 non-null  float64
 51  male mortality between age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)      20520 non-null  float64
 52  female mortality between age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)  20520 non-null  float64
 53  mortality between age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)     20520 non-null  float64
 54  male mortality between age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)      20520 non-null  float64
 55  female mortality between age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)  20520 non-null  float64
 56  net number of migrants (thousands)                                                              20520 non-null  float64
 57  net migration rate (per 1,000 population)                                                       20520 non-null  float64
dtypes: float64(54), int32(1), object(3)
memory usage: 9.2+ MB

#### <p align=center> **Economy_Complete Dataset** <p>

In [311]:
# Mostramos el dataset modificado 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5738 entries, 0 to 5737
Data columns (total 14 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   iso3 alpha-code                                            5738 non-null   object
 1   year                                                       5738 non-null   int64
 2   foreign direct investment, net inflows (bop, current us$)  5369 non-null   float64
 3   total reserves (gold + us$)                                3801 non-null   float64
 4   consumer price                                             3966 non-null   float64
 5   time required to start a business (days)                   3774 non-null   float64
 6   total tax and contribution rate (pct of profit)            3397 non-null   float64
 7   final consumption expenditure                              4400 non-null   float64
 8   exports of goods and services (pct of gdp)                 5016 non-null   float64
 9   imports of goods and services (pct of gdp)                 5010 non-null   float64
 10  gross domestic product                                     5609 non-null   float64
 11  gdp growth                                                 5529 non-null   float64
 12  gni per capita                                             5285 non-null   float64
 13  gross savings                                              4337 non-null   float64
dtypes: float64(12), int64(1), object(1)
memory usage: 627.7+ KB

In [312]:
# Parece que todo esta bien pero por seacaso nos aseguramos , recordemos que en del ETL depende el EDA y el entrenamiento del modelo de ML.
df2['iso3 alpha-code'] = df2['iso3 alpha-code'].astype('str')
df2['year'] = df2['year'].astype('int')
for col in df2.columns[2:]:
    df2[col] = pd.to_numeric(df2[col], errors='coerce')

In [313]:
# Revisamos el dataset formateado
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5738 entries, 0 to 5737
Data columns (total 14 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   iso3 alpha-code                                            5738 non-null   object
 1   year                                                       5738 non-null   int32
 2   foreign direct investment, net inflows (bop, current us$)  5369 non-null   float64
 3   total reserves (gold + us$)                                3801 non-null   float64
 4   consumer price                                             3966 non-null   float64
 5   time required to start a business (days)                   3774 non-null   float64
 6   total tax and contribution rate (pct of profit)            3397 non-null   float64
 7   final consumption expenditure                              4400 non-null   float64
 8   exports of goods and services (pct of gdp)                 5016 non-null   float64
 9   imports of goods and services (pct of gdp)                 5010 non-null   float64
 10  gross domestic product                                     5609 non-null   float64
 11  gdp growth                                                 5529 non-null   float64
 12  gni per capita                                             5285 non-null   float64
 13  gross savings                                              4337 non-null   float64
dtypes: float64(12), int32(1), object(1)
memory usage: 605.3+ KB

#### <p align=center> **Environment_Electricity-Sanitation Dataset** <p>

In [314]:
# Mostramos el dataset modificado 
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5523 entries, 0 to 5522
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   iso3 alpha-code   5523 non-null   object
 1   year              5523 non-null   int64
 2   access elect.     5507 non-null   float64
 3   basic sanitation  4659 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 172.7+ KB

In [315]:
# Parece que todo esta bien pero por seacaso nos aseguramos , recordemos que en del ETL depende el EDA y el entrenamiento del modelo de ML.
df3['iso3 alpha-code'] = df3['iso3 alpha-code'].astype('str')
df3['year'] = df3['year'].astype('int')
for col in df3.columns[2:]:
    df3[col] = pd.to_numeric(df3[col], errors='coerce')

In [316]:
# Revisamos el dataset formateado
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5523 entries, 0 to 5522
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   iso3 alpha-code   5523 non-null   object
 1   year              5523 non-null   int32
 2   access elect.     5507 non-null   float64
 3   basic sanitation  4659 non-null   float64
dtypes: float64(2), int32(1), object(1)
memory usage: 151.1+ KB

#### <p align=center> **Environment_Population-Density Dataset** <p>

In [317]:
# Mostramos el dataset modificado 
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14339 entries, 0 to 14338
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   iso3 alpha-code  14339 non-null  object
 1   year             14339 non-null  int64
 2   value            14339 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 336.2+ KB

In [318]:
# Parece que todo esta bien pero por seacaso nos aseguramos , recordemos que en del ETL depende el EDA y el entrenamiento del modelo de ML.
df4['iso3 alpha-code'] = df4['iso3 alpha-code'].astype('str')
df4['year'] = df4['year'].astype('int')
for col in df4.columns[2:]:
    df4[col] = pd.to_numeric(df4[col], errors='coerce')

In [319]:
# Revisamos el dataset formateado
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14339 entries, 0 to 14338
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   iso3 alpha-code  14339 non-null  object
 1   year             14339 non-null  int32
 2   value            14339 non-null  float64
dtypes: float64(1), int32(1), object(1)
memory usage: 280.2+ KB

#### <p align=center> **People_Complete Dataset** <p>

In [320]:
# Mostramos el dataset modificado 
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5636 entries, 0 to 5635
Data columns (total 6 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   iso3 alpha-code                                             5636 non-null   object
 1   year                                                        5636 non-null   int64
 2   primary completion rate, total (pct of relevant age group)  3813 non-null   float64
 3   expenditure education                                       4013 non-null   float64
 4   unemployment                                                5170 non-null   float64
 5   intentional homicides (per 100,000 people)                  2909 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 264.3+ KB

In [321]:
# Parece que todo esta bien pero por seacaso nos aseguramos , recordemos que en del ETL depende el EDA y el entrenamiento del modelo de ML.
df5['iso3 alpha-code'] = df5['iso3 alpha-code'].astype('str')
df5['year'] = df5['year'].astype('int')
for col in df5.columns[2:]:
    df5[col] = pd.to_numeric(df5[col], errors='coerce')

In [322]:
# Revisamos el dataset formateado
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5636 entries, 0 to 5635
Data columns (total 6 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   iso3 alpha-code                                             5636 non-null   object
 1   year                                                        5636 non-null   int32
 2   primary completion rate, total (pct of relevant age group)  3813 non-null   float64
 3   expenditure education                                       4013 non-null   float64
 4   unemployment                                                5170 non-null   float64
 5   intentional homicides (per 100,000 people)                  2909 non-null   float64
dtypes: float64(4), int32(1), object(1)
memory usage: 242.3+ KB

#### <p align=center> **Poverty_Maternal-Mortality Dataset** <p>

In [323]:
# Mostramos el dataset modificado 
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5954 entries, 0 to 5953
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   iso3 alpha-code  5954 non-null   object
 1   year             5954 non-null   int64
 2   value            5954 non-null   int64
dtypes: int64(2), object(1)
memory usage: 139.7+ KB

In [324]:
# Parece que todo esta bien pero por seacaso nos aseguramos , recordemos que en del ETL depende el EDA y el entrenamiento del modelo de ML.
df6['iso3 alpha-code'] = df6['iso3 alpha-code'].astype('str')
df6['year'] = df6['year'].astype('int')
for col in df6.columns[2:]:
    df6[col] = pd.to_numeric(df6[col], errors='coerce')

In [325]:
# Revisamos el dataset formateado
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5954 entries, 0 to 5953
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   iso3 alpha-code  5954 non-null   object
 1   year             5954 non-null   int32
 2   value            5954 non-null   int64
dtypes: int32(1), int64(1), object(1)
memory usage: 116.4+ KB

#### <p align=center> **Refugee-origin-asylum Dataset** <p>

In [326]:
# Mostramos el dataset modificado 
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5168 entries, 0 to 5167
Data columns (total 4 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   iso3 alpha-code                                       5168 non-null   object
 1   year                                                  5168 non-null   int64
 2   refugee population by country or territory of asylum  4505 non-null   float64
 3   refugee population by country or territory of origin  5037 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 161.6+ KB

In [327]:
# Parece que todo esta bien pero por seacaso nos aseguramos , recordemos que en del ETL depende el EDA y el entrenamiento del modelo de ML.
df7['iso3 alpha-code'] = df7['iso3 alpha-code'].astype('str')
df7['year'] = df7['year'].astype('int')
for col in df7.columns[2:]:
    df7[col] = pd.to_numeric(df7[col], errors='coerce')

In [328]:
# Mostramos el dataset formateado
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5168 entries, 0 to 5167
Data columns (total 4 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   iso3 alpha-code                                       5168 non-null   object
 1   year                                                  5168 non-null   int32
 2   refugee population by country or territory of asylum  4505 non-null   float64
 3   refugee population by country or territory of origin  5037 non-null   float64
dtypes: float64(2), int32(1), object(1)
memory usage: 141.4+ KB

#### <p align=center> **States_GDP-percapita Dataset** <p>

In [329]:
# Mostramos el dataset modificado 
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6194 entries, 0 to 6193
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   iso3 alpha-code  6194 non-null   object
 1   year             6194 non-null   int64
 2   value            6194 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 145.3+ KB

In [330]:
# Parece que todo esta bien pero por seacaso nos aseguramos , recordemos que en del ETL depende el EDA y el entrenamiento del modelo de ML.
df8['iso3 alpha-code'] = df8['iso3 alpha-code'].astype('str')
df8['year'] = df8['year'].astype('int')
for col in df8.columns[2:]:
    df8[col] = pd.to_numeric(df8[col], errors='coerce')

In [331]:
# Mostramos el dataset formateado
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6194 entries, 0 to 6193
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   iso3 alpha-code  6194 non-null   object
 1   year             6194 non-null   int32
 2   value            6194 non-null   float64
dtypes: float64(1), int32(1), object(1)
memory usage: 121.1+ KB

#### <p align=center> **States_Mobile-Population-Research-Labor Dataset** <p>

In [332]:
# Mostramos el dataset modificado 
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5830 entries, 0 to 5829
Data columns (total 6 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   iso3 alpha-code                                    5830 non-null   object
 1   year                                               5830 non-null   int64
 2   research and development expenditure (pct of gdp)  2449 non-null   float64
 3   mobile subs.                                       5491 non-null   float64
 4   labour force, total                                5170 non-null   float64
 5   population total                                   5830 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 273.4+ KB

In [333]:
# Parece que todo esta bien pero por seacaso nos aseguramos , recordemos que en del ETL depende el EDA y el entrenamiento del modelo de ML.v
df9['iso3 alpha-code'] = df9['iso3 alpha-code'].astype('str')
df9['year'] = df9['year'].astype('int')
for col in df9.columns[2:]:
    df9[col] = pd.to_numeric(df9[col], errors='coerce')

In [334]:
# Mostramos el dataset formateado
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5830 entries, 0 to 5829
Data columns (total 6 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   iso3 alpha-code                                    5830 non-null   object
 1   year                                               5830 non-null   int32
 2   research and development expenditure (pct of gdp)  2449 non-null   float64
 3   mobile subs.                                       5491 non-null   float64
 4   labour force, total                                5170 non-null   float64
 5   population total                                   5830 non-null   float64
dtypes: float64(4), int32(1), object(1)
memory usage: 250.6+ KB

### **Eliminamos Los valores duplicados**

#### <p align=center> **Demographic_Indicators Dataset** <p>

In [335]:
print(f"Hay {df1.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

#### <p align=center> **Economy_Complete Dataset** <p>

In [336]:
print(f"Hay {df2.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

#### <p align=center> **Environment_Electricity-Sanitation Dataset** <p>

In [337]:
print(f"Hay {df3.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

#### <p align=center> **Environment_Population-Density Dataset** <p>

In [338]:
print(f"Hay {df4.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

#### <p align=center> **People_Complete Dataset** <p>

In [339]:
print(f"Hay {df5.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

#### <p align=center> **Poverty_Maternal-Mortality Dataset** <p>

In [340]:
print(f"Hay {df6.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

#### <p align=center> **Refugee-origin-asylum Dataset** <p>

In [341]:
print(f"Hay {df7.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

#### <p align=center> **States_GDP-percapita Dataset** <p>

In [342]:
print(f"Hay {df8.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

#### <p align=center> **States_Mobile-Population-Research-Labor Dataset** <p>

In [343]:
print(f"Hay {df9.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

### **Guardamos los datasets en la misma carpeta dataset_ETL**

In [344]:
# Guardar el DataFrame actualizado de nuevo en el archivo CSV

# List of DataFrames
dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9]

# List of names for your CSV files
names = ['Demographic_Indicators.csv', 'Economy_Complete.csv', 'Environment_Electricity-Sanitation.csv', 'Environment_Population-Density.csv', 'People_Complete.csv', 'Poverty_Maternal-Mortality.csv', 'Refugee-origin-asylum.csv', 'States_GDP-percapita.csv', 'States_Mobile-Population-Research-Labor.csv']

# Directory to save the files
save_directory = "dataset_EDA"

# Loop over your DataFrames and save them with the corresponding name
for df, name in zip(dfs, names):
    save_path = os.path.join(save_directory, name)
    df.to_csv(save_path, index=False)